.modal {
  padding: 24px 24px 30px;
  overflow: visible;
  height: auto;
  //  background: linear-gradient(109.54deg, #f7f8ff 1.33%, #e4e7f2 98.07%);
  background: #fff;
  border-radius: 8px;

  .form__item {
    margin-bottom: 24px;
  }

  &__university {
    padding: 25px 25px 0;
    display: flex;

    @include media-breakpoint-down(xl) {
      padding: 30px 30px 10px;
      flex-direction: column;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    &--new {
      padding: 0;

      .modal__university-content {
        margin-right: 0;
        padding: 48px;
        border-radius: 8px 0 0 8px;

        @include media-breakpoint-down(sm) {
          padding: 20px 15px;
        }
      }

      .modal__university-logo {
        width: 100%;
        max-width: 210px;
      }

      .modal__university-info {
        padding: 48px;
        width: 100%;
        max-width: 432px;
        background: #f5f5f7;
        border-radius: 0 8px 8px 0;

        @include media-breakpoint-down(xl) {
          max-width: none;
        }

        @include media-breakpoint-down(sm) {
          padding: 24px;
        }
      }

      .modal__university-photo {
        margin-bottom: 33px;
        border-radius: 8px;
      }

      .modal__university-photo-img {
        border-radius: 8px;
      }

      .modal__university-position {
        margin-bottom: 13px;
        font-size: 12px;
        line-height: 1.5;
        color: #55556a;
      }

      .modal__university-name {
        margin-bottom: 11px;
        font-size: 22px;
        line-height: 1.42;
      }

      .modal__university-role {
        margin-bottom: 16px;
        font-size: 12px;
        line-height: 1.5;
        color: #55556a;
      }

      .modal__university-link {
        font-size: 12px;
        line-height: 1.5;
        color: $violet;
      }
    }
  }

  &__university-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__university-title {
    margin-right: 40px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .04em;
    color: #55556a;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }
  }

  &__university-content {
    margin-right: 24px;

    p {
      margin-bottom: 32px;
    }
  }

  &__university-logo {
    margin-bottom: 34px;
  }

  &__university-logo-img {
    max-width: 100%;
  }

  &__university-article {
    margin-bottom: 13px;

    p {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 1.5;
      color: #333;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    h5 {
      margin-top: 34px;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    ul {
      margin-bottom: 32px;

      li {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 1.5;
        color: #55556a;

        @include media-breakpoint-down(sm) {
          font-size: 14px;
        }
      }
    }
  }

  &__results {
    margin-top: 40px;
  }

  &__results-header {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: .04em;
    color: #55556a;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  &__result-wrapper {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__result {
    margin-right: 50px;
    width: 33.33%;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__result-number {
    margin-bottom: 16px;
    font-size: 100px;
    line-height: 1.18;
    letter-spacing: .04em;
    color: $dark-new;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
      font-size: 60px;
    }
  }

  &__result-content {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .04em;
    color: $dark-new;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__university-info {
    width: 350px;
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      display: flex;
      width: 100%;
      align-items: flex-start;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__university-photo {
    position: relative;
    margin-bottom: 27px;
    padding-top: 100%;

    @include media-breakpoint-down(xl) {
      margin-right: 24px;
      padding-top: 0;
      width: 350px;
      height: 350px;
      flex-shrink: 0;
    }

    @include media-breakpoint-down(md) {
      padding-top: 100%;
      width: 100%;
    }
  }

  &__university-photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__university-role {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.5;
    color: #76767a;
  }

  &__university-link {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    word-break: break-word;
    color: $primary;

    &:focus {
      border: 0;
      outline: none !important;
    }
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
  }

  &__tags {

    & + & {
      margin-top: 17px;
    }
  }

  &__tags-wrapper {
    margin-bottom: 24px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 8px;
    }
  }

  &__facts {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  &__article {
    margin-bottom: 32px;

    p {
      line-height: 1.6;
      color: rgba($gray, .8);
    }

    h4 {
      margin-top: 34px;
      margin-bottom: 17px;
      line-height: 1.5;
    }

    ul {
      margin-bottom: 0;
      padding-left: 0;

      li {
        position: relative;
        margin-bottom: 16px;
        padding-left: 33px;
        list-style: none;
        font-size: 20px;
        line-height: 1.6;
        color: rgba($gray, .8);

        @include media-breakpoint-down(xxl) {
          padding-left: 24px;
          font-size: 16px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          position: absolute;
          top: 12px;
          left: 0;
          display: block;
          width: 8px;
          height: 8px;
          content: '';
          background: $primary;
          border-radius: 50%;

          @include media-breakpoint-down(xxl) {
            top: 7px;
          }
        }
      }
    }
  }

  &__aside {
    margin-left: 65px;
    width: 100%;
    max-width: 385px;

    @include media-breakpoint-down(xl) {
      margin-top: 40px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__aside-link {
    word-break: break-word;
  }

  &__logo {
    margin-bottom: 35px;
    padding: 15px;
    display: flex;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9de;
    border-radius: 8px;
  }

  &__logo-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__photo {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    max-width: 232px;
    height: 304px;
  }

  &__photo-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__socials {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__socials-header {
    margin-top: 3px;
    margin-right: 10px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }

  &__partners-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__partner {
    margin-bottom: 20px;
    padding: 0 10px;
    flex: 1 1 33.33%;
  }

  &__partner-img {
    max-width: 100%;
    max-height: 110px;
  }

  &__title {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: .04em;

    @include media-breakpoint-down(sm) {
      padding-right: 20px;
      font-size: 18px !important;
    }
  }

  &__video {
    position: relative;
    //    padding-top: 56.25%;
    max-width: 100%;
    //    max-height: 600px;

    &--iframe {
      padding-top: 56.25%;
    }
  }

  &__video-content {
    max-width: 100%;
  }

  &__video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &--video {
    max-width: 1200px;
  }

  &--thin {
    padding: 46px 56px;
    max-width: 568px;

    @include media-breakpoint-down(sm) {
      padding: 20px 15px;
    }
  }

  &--newest {

    .carousel__button.is-close {
      top: 16px;
      right: 16px;
      width: 16px;
      height: 16px;
      background: url(../img/modal-close.svg) no-repeat center;
      background-size: contain;

      svg {
        display: none;
      }
    }
  }

  &--primary {
    background: rgba($primary, .8);
  }

  &--light {
    max-width: 1383px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 43px rgba(0, 0, 0, .1);
  }

  &--new {
    padding: 50px 22px 25px 55px;

    @include media-breakpoint-down(xl) {
      padding: 30px;
    }

    @include media-breakpoint-down(md) {
      padding: 20px;
    }
  }

  &--newest-wide {
    padding: 0;
    max-width: 1272px;
  }

  &--modal-form {

    @include media-breakpoint-up(lg) {
      max-width: 1032px;
    }

    .is-close {
      top: 16px !important;
      right: 16px !important;
      color: #000 !important;
      background-color: transparent !important;
    }

    .form {

      &__footer {
        align-items: center;
      }

      &-check {
        padding-top: 0;
      }
    }
  }

  &--modal-info {
    color: #333333;

    @include media-breakpoint-up(lg) {
      max-width: 1032px;
    }

    .is-close {
      top: 16px !important;
      right: 16px !important;
      color: #000 !important;
      background-color: transparent !important;
    }

    .modal {

      &__text-wrap {

        &:not(:last-child) {
          margin-bottom: 56px;
        }
      }
    }

    h3 {
      margin-bottom: 49px;
      font-size: 32px;
      font-weight: 600;
    }

    h4 {
      margin-bottom: 32px;
      font-size: 24px;
      font-weight: 600;
      color: #204990;
    }

    h6 {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.4em;
      letter-spacing: .04em;
    }
  }

  &--modal-poll {

    @include media-breakpoint-up(lg) {
      max-width: 1272px;
    }

    .is-close {
      top: 16px !important;
      right: 16px !important;
      color: #000 !important;
      background-color: transparent !important;
    }

    .modal {

      &__input-wrap {

        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }

      &__content {

        @include media-breakpoint-up(lg) {
          max-width: 802px;
        }
      }

      &__radio-wrap {
        display: flex;
        // align-items: flex-end;
        flex-direction: column;

        .form-check-input {
          margin-top: 0;
          margin-right: 16px;
          width: 24px;
          height: 24px;

          &:checked[type='radio'] {
            background-color: #fff;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%230030d9'/></svg>");
          }
        }

        label {
          font-size: 18px;

          @include media-breakpoint-down(md) {
            font-size: 16px;
          }
        }
        &--2 {
          margin-bottom: 19px;
          max-width: 450px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 16px;
        }
      }

      &__checkbox-wrap {
        display: flex;
        max-width: 370px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;

        // &--2 {
        //   margin-bottom: 19px;
        //   max-width: 450px;
        // }
      }

      &__radio-content {

        &:not(:last-child) {
          margin-bottom: 16px;
        }
        &--2 {
          width: 100%;
          max-width: 208px;
        }
      }

      &__checkbox-content {
        width: 100%;
        max-width: 135px;

        input {
          margin-right: 16px;
          width: 24px;
          height: 24px;
        }

        label {
          font-size: 18px;
          font-weight: 600;
          color: #55556a;

          @include media-breakpoint-down(md) {
            font-size: 16px;
          }
        }

        // &--2 {
        //   width: 100%;
        //   max-width: 208px;
        // }
      }
    }

    h3 {
      margin-bottom: 23px;
      font-size: 32px;
      font-weight: 600;
      letter-spacing: .04em;
      color: #55556a;

      @include media-breakpoint-down(md) {
        font-size: 21px;
      }
    }

    h5 {
      margin-bottom: 18px;
      font-size: 22px;
      line-height: 1.4em;
      font-weight: 600;
      color: #2e2e40;

      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }

    textarea {
      background-color: #f5f5f7;
      border: none;
      border-radius: 8px;

      &::placeholder {
        opacity: .5;
        letter-spacing: .04em;
        color: #55556a;
      }
    }

    button {
      font-size: 18px;
      line-height: 1.17em;
      font-weight: 600;
      letter-spacing: .04em;
      color: #fff;
      background-color: #f22444;
      border-radius: 8px;
    }
  }
}
