.sAntiSanctionsMeasures {
  padding-top: 30px;
  padding-bottom: 30px;
  // --sTPB: #{rem()};
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
    padding-bottom: 87px;
  }

  &__row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 32px;

    margin-top: 32px;

    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      padding-right: 16px;
      padding-left: 16px;
      display: flex !important;
      height: auto;
    }
  }

  &__section-title {
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 39px;
    }

    h2 {
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: .04em;
      color: #2e2e40;

      @include media-breakpoint-down(md) {
        font-size: 28px;
      }
    }
  }

  &__item {
    padding: 17.6px 16px 19.2px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    // @include mt;
    box-shadow: 3px 0 15px rgba(74, 66, 142, .07);
    transition: all .2s ease;

    &:hover {
      box-shadow: 0 4px 7px rgba(74, 66, 142, .07);
      // opacity: .74;
    }

    span {
      margin-bottom: 16px;
      padding: 6.4px 8px;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color: $white;
      background: #000;
      border-radius: 4px;
    }

    h6 {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.4em;
      color: #2e2e40;
    }

    a {
      margin-top: auto;
      padding: 12.5px 10px;
      display: block;
      width: 100%;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      letter-spacing: .04em;
      color: #fff;
      background-color: #5d60f4;
      border-radius: 8px;
      transition: all .2s ease;

      &:hover {
        opacity: .9;
        background-color: #5d60f4;
      }
    }
  }

  &__img-wrap {
    // height: 217px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      flex: 0 0 auto;
      // height: 100%;
    }
  }

  .slick-dots {
    margin-top: 60px;
    padding-left: 0;
    display: flex;
    justify-content: center;

    li {
      padding: 7px;
      display: block;
      list-style-type: none;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all .3s ease;

      &.slick-active,
      &:hover {
        border-color: #5d60f4;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    button {
      position: relative;
      display: block;
      width: 8px;
      height: 8px;
      font-size: 0;
      background-color: #5d60f4;
      // transition: all .3s ease;
      border-radius: 50%;

      &:before {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 24px;
        height: 24px;
        content: '';
        background-color: transparent;
      }
    }
  }

  @include media-breakpoint-up(xl) {
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(sm) {
  }

  @include media-breakpoint-between(md, xl) {
  }

  @include media-breakpoint-only(xl) {
  }

  @include media-breakpoint-down(xl) {
  }
} // end.sAntiSanctionsMeasures
