.category {
  position: relative;
  padding: 120px 0 90px;
  color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 40px 40px 0 0;

  @include media-breakpoint-down(xxl) {
    padding: 80px 20px 40px;
  }

  @include media-breakpoint-down(xl) {
    padding: 24px;
  }

  @include media-breakpoint-down(md) {
    padding: 24px 0 80px;
    border-radius: 8px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 50px 50px 0 0;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-top: 78px;
    margin-bottom: 30px;
    line-height: 1.2;
    font-weight: 500;

    @include media-breakpoint-down(xxl) {
      font-size: 40px !important;
    }

    @include media-breakpoint-down(xl) {
      margin-top: 0;
      font-size: 30px !important;
      letter-spacing: .04em;
      color: #fff;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
      font-size: 20px !important;
    }
  }

  &__text {
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.5;

    @include media-breakpoint-down(xxl) {
      font-size: 16px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 12px;
      line-height: 1.32;
      font-weight: 400;
      letter-spacing: .04em;
      color: #fff;
    }

    br {

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__operator {
    margin-bottom: 70px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__operator-top {

    @include media-breakpoint-down(xl) {
      display: flex;
      align-items: center;
    }
  }

  &__operator-header {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .04em;
    color: #9dade3;

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      font-size: 12px;
      line-height: 1.5;
      font-weight: 400;
      color: #fff;
    }
  }

  &__operator-content {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 20px;
    display: flex;
    height: 64px;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      height: 40px;
    }

    @include media-breakpoint-down(xl) {
      height: 24px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo-img {
    max-height: 100%;
  }

  &__btn {
    margin-top: 70px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__content {
    padding-top: 50px;

    @include media-breakpoint-down(xl) {
      padding-top: 32px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 32px;
      padding-top: 0;
      border-top: 1px solid #fff;
    }
  }

  &__content-section {

    &--active {

      .category__subtitle {

        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
}
