mixin hero(data)
  .hero.ticker.ticker--dots&attributes(attributes)
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
    })
      p.sm Составлен аналитический отчет с ключевыми показателями уровня развития искусственного интеллекта и рекомендациями по технологической трансформации
      p.sm В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    +hero__item({
      title: 'Удовлетворенность условиями работы в сфере ИИ',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    +hero__item({
      title: 'Развитие инфраструктуры беспилотного транспорта',
      picture: 'hero-1.png',
      dscr: 'В 15 регионах РФ проводится опытная эксплуатация беспилотных автомобилей на дорогах общего пользования. К 2025 году беспилотные автомобили станут доступны для всех граждан РФ'
    })
    
    
    
mixin hero__item(data)
  .hero__item(data-title=data.title)&attributes(attributes)
    .hero__item-container
      .hero__left
        .hero__item-wrapper
          .hero__item-content
            .hero__item-top
              h4.hero__item-title= data.title
              if block
                block
              else
                p.sm= data.dscr
              a.btn.btn-primary.btn-new.hero__btn(href="#") Узнать больше
          .hero__item-picture
            img.hero__item-picture-img(src="./img/hero-2.png", alt)
      .hero__right
        .hero__achievements
          .hero__achievements-header-wrapper
            a.h5.hero__achievements-header(href="#") Индикаторы
          +achievement({
            number: '635',
            dscr: 'индикаторов для оценки уровня удовлетворенности условиями труда и качества жизни граждан, заинтересованных в развитии ИИ'
          }).hero__achievement
          +achievement({
            number: '1 000+',
            dscr: 'показателей отражают текущий уровень развития ИИ и потребности граждан, заинтересованных в цифровой трансформации'
          }).hero__achievement
