.hero {
  margin-bottom: 30px;
  display: flex;
  user-select: text;

  @include media-breakpoint-down(xl) {
    position: relative;
    z-index: 3;
    margin-bottom: 48px;
    display: block;
  }

  &__front {
  }

  &__front-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top center;
    filter: blur(37px);
  }

  &__item {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(269.38deg, #ebebf5 17.58%, #f9faff 71.88%);
    border-radius: 16px;

    @include media-breakpoint-down(md) {
      background: transparent;
    }

    &--dark {

      .hero__item-top {
        color: #fff;

        @include media-breakpoint-down(md) {
          color: $dark;
        }
      }

      .hero__item-accent {
        color: #afd9ff;

        @include media-breakpoint-down(md) {
          color: $primary;
        }
      }
    }
  }

  &__item-container {
    display: flex;
    flex-grow: 1;
  }

  &__left {
    display: flex;
    flex-grow: 1;
  }

  &__right {
    display: flex;
    max-width: 455px;
    flex-grow: 1;

    //    @include media-breakpoint-down(xxl) {
    //      max-width: 300px;
    //    }

    @include media-breakpoint-down(xl) {
      max-width: 208px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__item-accent {
    color: $primary;
  }

  &__item-wrapper {
    position: relative;
    padding: 40px 40px 70px;
    display: flex;
    overflow: hidden;
    width: calc(100% + 24px);

    @include media-breakpoint-down(xl) {
      padding: 20px 20px 72px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  &__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: right center;

    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      height: 200px;
    }
  }

  &__item-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      padding: 20px 32px 0 16px;
      max-width: none;
    }
  }

  &__item-top {
    display: flex;
    max-width: 534px;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    @media (max-width: 1419px) {
      max-width: 440px;
    }

    @include media-breakpoint-down(xl) {
      max-width: 300px;
    }

    @include media-breakpoint-down(md) {
      color: $dark;
    }

    h3 {

      @include media-breakpoint-down(xxl) {
        font-size: 24px;
      }
    }

    h4 {
      font-size: 32px;

      @include media-breakpoint-down(xxl) {
        font-size: 24px;
      }
    }

    p {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 1.5;
      color: #55556a;

      @include media-breakpoint-down(xxl) {
        font-size: 13px;
      }

      @include media-breakpoint-down(xl) {
        margin-bottom: 24px;
        font-size: 12px;
        line-height: 1.32;
        letter-spacing: .04em;
      }
    }
  }

  &__mobile-btn {
    display: none;

    @include media-breakpoint-down(md) {
      margin-bottom: 11px;
      display: block;
    }
  }

  &__btn {
    margin-top: auto;
    font-size: 18px;
    background: $violet;
    border: 0;

    @include media-breakpoint-down(xl) {
      font-size: 12px;
      border-radius: 4px !important;
    }
  }

  &__item-title {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.15;
    font-weight: 600;
    letter-spacing: .04em;
    color: $dark-new;

    @include media-breakpoint-down(xxl) {
      font-size: 24px;
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 24px;
      font-size: 20px;
      line-height: 1.22;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 11px;
    }
  }

  &__item-dscr {
  }

  &__accent {
    font-size: 35px;

    @include media-breakpoint-down(xxl) {
      font-size: 30px;
    }
  }

  &__item-bottom {
    margin-top: 20px;

    @include media-breakpoint-down(xxl) {
      margin-top: 10px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__item-media {

    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__item-spot {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-down(md) {
      top: auto;
      bottom: -100px;
    }

    &--blue {
      background: #0030d9;
    }

    &--red {
      background: #d51a1a;
    }
  }

  &__item-picture {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: calc(100% - 25px);

    @media (max-width: 1349px) {
      right: -100px;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      right: auto;
      //      display: flex;
      height: 168px;
      //      justify-content: flex-end;
      //      align-items: center;
      background: #f0f0fd;
    }

    //    &:before {
    //      position: absolute;
    //      z-index: 2;
    //      top: 0;
    //      left: 0;
    //      display: none;
    //      width: 100%;
    //      height: 100%;
    //      content: '';
    //      background: radial-gradient(
    //        100% 362.81% at 0% 60.42%,
    //        #f0f0f8 0%,
    //        rgba(228, 228, 250, 0) 50.02%,
    //        #e4e4fa 100%
    //      );
    //
    //      @include media-breakpoint-down(md) {
    //        display: block;
    //      }
    //    }
  }

  &__item-picture-img {
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-down(md) {
      //      position: relative;
      //      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &__achievements {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #d9d9de;
  }

  &__achievements-header-wrapper {
    padding: 40px 24px 20px;

    @include media-breakpoint-down(xxl) {
      padding-bottom: 10px;
    }

    @include media-breakpoint-down(xl) {
      padding: 19px 16px;
    }
  }

  &__achievements-header {
    padding: 7px 12px 5px;
    display: inline-flex;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: $dark-new;
    border: 1px solid $dark-new;
    border-radius: 4px;
    align-self: flex-start;

    @include media-breakpoint-down(xxl) {
      padding: 5px 8px 3px;
      font-size: 10px;
    }

    @include media-breakpoint-down(xl) {
      padding: 9px 6px 8px;
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: .04em;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding-top: 13px;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }

  &__achievement {
  }

  &__dots-title {
    position: absolute;
    bottom: calc(100% + 2px);
    opacity: 0;
    font-size: 12px;
    line-height: 1.8;
    white-space: nowrap;
    color: $dark;

    @include transition;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .slick-list {
    display: flex;
    width: 100%;
  }

  .slick-track {
    display: flex;

    @include media-breakpoint-down(md) {
      align-items: flex-start;
    }
  }

  .slick-slide {
    display: flex;
    height: auto;
  }

  .slick-dots {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 40px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      bottom: 40px;
      left: 40px;
    }

    @include media-breakpoint-down(xl) {
      bottom: 32px;
      left: 24px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 27px;
    }

    li {
      position: relative;
      margin-right: 10px;
      margin-bottom: 0;
      padding-left: 0;
      width: 8px;
      height: 8px;
      list-style: none;
      background: #5d60f4;
      border-radius: 50%;

      @include media-breakpoint-down(md) {
        flex-grow: 1;
      }

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        //        @include media-breakpoint-down(md) {
        //          max-width: 25px;
        //        }
        //
        //        .hero__dots-title {
        //          opacity: 1;
        //        }

        button {
          width: 8px;
          height: 8px;
          background: red;
          //          width: 112px;
          //          height: 3px;
          //          background: $primary;
          //          border-radius: 0;
          //
          //          @include media-breakpoint-down(md) {
          //            width: 100%;
          //          }
        }
      }

      button {
        display: block;
        font-size: 0;
        background: #5d60f4;
        border-radius: 14px;

        @include transition;

        @include media-breakpoint-down(md) {
          width: 100%;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    width: 24px;
    height: 24px;
    font-size: 0;
    background: url(../img/events-link-arrow.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;

    &.slick-prev {
      right: 66px;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: 32px;
    }

    &.slick-active {
    }
  }
}
