extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.container--new
      +crumbs({
        links: ['Карта искусственного интеллекта РФ']
      }).mb-15.mb-xl-35
      .map
        .map__header
          h2.sm-new.map__title Карта искусственного интеллекта РФ
          a.btn.btn-primary.btn-violet.btn-lg.map__header-btn.fw-normal(href="#addProject2", data-fancybox) Добавить проект в карту ИИ
          +modal({
            type: 'addProject1'
          }).modal--thin.modal--newest#addProject1
          +modal({
            type: 'addProject2'
          }).modal--thin.modal--newest#addProject2
          +modal({
            type: 'addProject3'
          }).modal--thin.modal--newest#addProject3
        .map__inner
          .map__inner-left
            h3.md.fw-medium.mb-30.mb-xl-40 Карта
            .map__inner-tags
              a.tag.tag--gray.tag--md.map__inner-btn.js-map-btn.js-map-btn--research(href="#", data-modal="addProject1") Исследовательские центры и Научные лаборатории
              a.tag.tag--gray.tag--md.map__inner-btn.js-map-btn.js-map-btn--education.js-map-btn--active(href="#", data-modal="addProject2") Образование
              a.tag.tag--gray.tag--md.map__inner-btn.js-map-btn.js-map-btn--events(href="#", data-modal="addProject3") Мероприятия
            .map__inner-dscr.map__inner-dscr--desktop
              .map__inner-dscr-item.js-map-content.js-map-content--research
                h4.mb-25 Исследовательские центры и Научные лаборатории
                p.sm.text-gray Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. 
              .map__inner-dscr-item.js-map-content.js-map-content--education.js-map-content--active
                h4.fw-semibold.mb-25 Образование
                p.sm.text-gray Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. 
              .map__inner-dscr-item.js-map-content.js-map-content--events
                h4.mb-25 Мероприятия
                p.sm.text-gray Рассмотрим работу ML на примере задачи банковского скоринга. Банк располагает данными о существующих клиентах. Ему известно, есть ли у кого-то просроченные платежи по кредитам. 
            .map__inner-dscr.map__inner-dscr--mobile
          .map__country.js-map-content.js-map-content--research
            +country({
              type: 'research'
            }).country--red
          .map__country.js-map-content.js-map-content--education.js-map-content--active
            +country({
              type: 'education'
            }).country--blue
          .map__country.js-map-content.js-map-content--events
            +country({
              type: 'events'
            }).country--green
        .map__items
          .map__items-content.js-map-content.js-map-content--research
            .map__filters
              +filters({
                type: 'research'
              })
              +view.map__view
            .map__projects.table-grid
              .map__projects-headers
                a.map__projects-header-item.map__projects-header-item--link.table-grid__item--md(href="#") ВУЗ
                a.map__projects-header-item.map__projects-header-item--link.table-grid__item--sm(href="#") Город
                a.map__projects-header-item.table-grid__item--lg(href="#") Специальности
              .map__projects-content
                .map__projects-item
                  +project-new({
                    logo: 'uni-1.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-2.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-3.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-4.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-5.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-6.svg',
                    tags: ['R&D', 'Внедрение']
                  })
          .map__items-content.js-map-content.js-map-content--education.js-map-content--active
            .map__filters
              +filters({
                type: 'education'
              })
              +view.map__view
            .map__projects.table-grid
              .map__projects-headers
                a.map__projects-header-item.table-grid__item--md(href="#") ВУЗ
                a.map__projects-header-item.table-grid__item--sm(href="#") ФОИВ (Ответственный)
                a.map__projects-header-item.table-grid__item--sm(href="#") ИИ-зрелость (РАНХИГС, МЦ)
                a.map__projects-header-item.table-grid__item--lg(href="#") Дата-сеты (МЦ)
              .map__projects-content
                .map__projects-item
                  +project-new({
                    logo: 'uni-1.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-2.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-3.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-4.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-5.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-6.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-1.svg',
                    tags: ['R&D', 'Внедрение']
                  })
          .map__items-content.js-map-content.js-map-content--events
            .map__filters
              +filters({
                type: 'map-events'
              })
              +view.map__view
            .map__projects.table-grid
              .map__projects-headers
                a.map__projects-header-item.map__projects-header-item--link.table-grid__item--md(href="#") Название
                a.map__projects-header-item.map__projects-header-item--link.table-grid__item--sm(href="#") Город
                a.map__projects-header-item.table-grid__item--lg(href="#") Технологии
                a.map__projects-header-item.table-grid__item--sm(href="#") Даты проведения
              .map__projects-content
                .map__projects-item
                  +project-new({
                    logo: 'uni-1.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-2.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-3.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-4.svg',
                    tags: ['R&D', 'Внедрение']
                  })
                .map__projects-item
                  +project-new({
                    logo: 'uni-5.svg',
                    tags: ['R&D', 'Внедрение']
                  })
  +footer
  +modal({
    type: 'uni-center'
  }).modal--newest.modal--newest-wide#uni
