mixin file(data)
  .file&attributes(attributes)= data.title
    if data && data.type == 'multiple'
      input.file__input#formFile.form-control(type='file', multiple)
    else
      input.file__input#formFile.form-control(type='file')
