.achievement {
  margin-bottom: 24px;
  padding: 0 24px;
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-down(xl) {
    padding: 10px 16px;
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--green {
    background: url(../img/achievement-green.svg) no-repeat center;
    background-size: cover;
  }

  &--violet {
    background: url(../img/achievement-violet.svg) no-repeat center;
    background-size: cover;
  }

  &--light {
    background: url(../img/achievement--light.png) no-repeat center;
    background-size: cover;
  }

  &--dark {
    background: url(../img/achievement--dark.png) no-repeat center;
    background-size: cover;
  }

  &__number {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 1.18;
    letter-spacing: .04em;
    color: $dark-new;

    @include media-breakpoint-down(xxl) {
      font-size: 28px;
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 8px;
      font-size: 24px;
    }
  }

  &__dscr {
    font-size: 16px;

    @include media-breakpoint-down(xxl) {
      font-size: 13px !important;
    }

    @include media-breakpoint-down(xl) {
      font-size: 10px !important;
      line-height: 1.3 !important;
    }
  }
}
