.pulse {
  margin-bottom: 72px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 33px;
  }

  &__header {
    margin-left: 96px;
    display: flex;
    width: 230px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #fff;
    background: url(../img/pulse-header-bg.svg) no-repeat center top;

    @include media-breakpoint-down(xl) {
      margin-bottom: 0;
      margin-left: 24px;
      display: block;
      width: auto;
      height: auto;
      font-size: 20px;
      line-height: 1.22;
      text-align: left;
      text-transform: none;
      color: $dark-new;
      background: transparent;
    }

    &:after {

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__content {
    padding: 40px 96px 25px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 3px 0 15px rgba(74, 66, 142, .07);

    @include media-breakpoint-down(xxl) {
      padding: 20px 40px;
    }

    @include media-breakpoint-down(xl) {
      padding: 15px 24px;
      overflow: auto;
      background: transparent;
      box-shadow: none;
    }

    @include media-breakpoint-down(md) {
      padding: 15px 16px;
    }
  }

  &__slider {
    display: flex;
  }

  &__item {

    @include media-breakpoint-down(xl) {
      margin-right: 16px;
      flex-shrink: 0;
    }

    &:last-child {

      @include media-breakpoint-down(xl) {
        margin-right: 0;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    font-size: 0;
    background: url(../img/arrow-violet.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
    transform: translateY(-50%);

    &.slick-active {
    }

    &.slick-prev {
      left: -52px;
    }

    &.slick-next {
      right: -52px;
      transform: translateY(-50%) rotate(180deg);
    }
  }
}
