.country {

  &__item {
  }

  &__item-content {
  }

  &__item-map {
    position: relative;

    svg {
      position: relative;
      width: auto !important;
      max-width: 100%;
      height: auto !important;

      path {
        cursor: pointer;

        @include transition;

        &:hover,
        &.active {
          opacity: .8;
        }
      }
    }
  }

  &__popup {
    position: fixed;
    padding: 3px 6px 1px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    background: #fff;
    border-radius: 350px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:before {
      margin-right: 7px;
      display: block;
      width: 6px;
      height: 6px;
      flex-shrink: 0;
      content: '';
      background: $primary;
      border-radius: 50%;
    }

    &--filter {
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &__legend {
    margin-left: 127px;
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(xxl) {
      margin-top: 0;
    }

    @include media-breakpoint-down(xl) {
      margin-left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
  }

  &__legend-item {
    display: flex;
    width: 86px;
    flex-direction: column;
    align-items: flex-start;

    &--light {
    }

    &--medium {
    }

    &--dark {
    }
  }

  &__legend-item-color {
    width: 100%;
    height: 32px;
  }

  &__legend-item-text {
    margin-top: 7px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
  }

  &--blue {

    .country__legend-item {

      &--light {

        .country__legend-item-color {
          background: linear-gradient(144.15deg, #f3f5fc 10.14%, #d3edff 89.15%);
        }
      }

      &--medium {

        .country__legend-item-color {
          background: #afd9ff;
        }
      }

      &--dark {

        .country__legend-item-color {
          background: #0030d9;
        }
      }
    }
  }

  &--red {

    .country__legend-item {

      &--light {

        .country__legend-item-color {
          background: linear-gradient(144.15deg, #fcf5f3 10.14%, #ffd3dc 89.15%);
        }
      }

      &--medium {

        .country__legend-item-color {
          background: #ffafba;
        }
      }

      &--dark {

        .country__legend-item-color {
          background: #d92300;
        }
      }
    }
  }

  &--green {

    .country__legend-item {

      &--light {

        .country__legend-item-color {
          background: linear-gradient(144.15deg, #f3fcfb 10.14%, #d3ffec 89.15%);
        }
      }

      &--medium {

        .country__legend-item-color {
          background: #afffe0;
        }
      }

      &--dark {

        .country__legend-item-color {
          background: #00d9c6;
        }
      }
    }
  }
}
