mixin sHeaderBlock(data)
  .sHeaderBlock&attributes(attributes)
    .container
      .row
        .col-lg
          p.sHeaderBlock__headline #[span #]антисанкц#[span ии]
          h1 Меры развития российского искусственного интеллекта 2022
          .sHeaderBlock__linkWrap
            a.sHeaderBlock__btn.sHeaderBlock__btn--tg-link.btn.btn-primary(href="#") #[img(src="../img/telegram-stroke.svg", alt)] Подробнее в телеграм канале
            a.sHeaderBlock__btn.btn.btn-secondary(href="#") Предложить меру
        .col-xxl-auto.col-lg-5
          .sHeaderBlock__wrap
            span Опрос
            p Необходимые меры поддержки доступности вычислительных ресурсов для&nbsp;ИИ
            a.sHeaderBlock__btn.sHeaderBlock__btn--go.btn.btn-secondary(href="#") Пройти
            img.circles(src="./img/circles.svg")
            img.lamp(src="./img/lamp.svg")
          ul.government
            li 
              img(src='./img/top-nav-1.png')
            li 
              img(src='./img/top-nav-2.png')
            li 
              img(src='./img/top-nav-3.png')
            li 
              img(src='./img/top-nav-4.png')
