.sSliderBlock {

  &__slide-wrapper {
    text-decoration: none;
  }

  &__section-title {
    margin-bottom: 25px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d9d9de;

    @include media-breakpoint-up(lg) {
      margin-bottom: 39px;
      padding-right: 95px;
    }

    h2 {
      margin-bottom: 0;
      font-size: 36px;
      font-weight: 600;
      color: #2e2e40;
    }
  }

  &__img-wrap {
    position: relative;
    margin-bottom: 63px;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  &__slide {
    margin-right: 21px;
    text-decoration: none;
  }

  &__container {
    position: relative;
  }

  .slick-slider {
    position: static;
  }

  .slick-arrow {
    position: absolute;
    top: 7px;
    width: 32px;
    height: 32px;
    font-size: 0;
    background: url(../img/slider-arrow-black.svg) no-repeat center;
    border: 1px solid $dark-new;
    border-radius: 50%;

    @include media-breakpoint-down(xl) {
      width: 24px;
      height: 24px;
      background-position: 7px center;
      background-size: 30%;
    }

    @include media-breakpoint-down(lg) {
      display: none !important;
    }

    &.slick-prev {
      right: calc(60px + 12px);
    }

    &.slick-next {
      right: 12px;
      transform: rotate(180deg);
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    opacity: .8;
    background-color: #f22444;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 40.02px;
      height: 40.02px;
      background-color: $white;
      transform: translate(-39%, -50%);
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }
  }

  &__text-wrap {
    color: $gray-800;

    h5 {
      margin-bottom: 14px;
      font-size: 24px;
      line-height: 1.2em;
      font-weight: 600;
      letter-spacing: .04em;
    }

    h6 {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 1.5em;
      font-weight: 600;
    }

    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.4em;
      font-weight: 600;
      letter-spacing: .04em;
      color: #a7a7ab;
    }
  }

  .slick-dots {
    margin-top: 60px;
    padding-left: 0;
    display: flex;
    justify-content: center;

    li {
      padding: 7px;
      display: block;
      list-style-type: none;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all .3s ease;

      &.slick-active,
      &:hover {
        border-color: #5d60f4;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    button {
      position: relative;
      display: block;
      width: 8px;
      height: 8px;
      font-size: 0;
      background-color: #5d60f4;
      // transition: all .3s ease;
      border-radius: 50%;

      &:before {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 24px;
        height: 24px;
        content: '';
        background-color: transparent;
      }
    }
  }
}
